body {
	background-color: #272822;
	margin: 0;
	overflow: hidden;
}

@-webkit-keyframes blur-anim {
	from {
		-webkit-filter: blur(40px);
	}
	to {
		-webkit-filter: blur(0);
	}
}

#local {
	-webkit-transform: scaleX(-1);
}

.blur {
	-webkit-animation: blur-anim 1.5s linear;
}

.thumbnail {
	position: absolute;
	width: 200px;
}